<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="My Travel App">
    <title>Basket</title>
</head>
<body>
    <header>
        <h1>XYZ Travel</h1>
    </header>
    <nav>
        <a href="#" class="brand_color_set" style="margin:10px;">About Us</a>
        <a href="index.html" class="brand_color_set" style="margin:10px;">Cities</a>
        <a href="basket.html" class="brand_color_set" style="margin:10px;">Basket</a>
        <input type="search" placeholder="Look for more cities" style="float:right;">
    </nav>

    <main>
        <h2>Shopping Basket</h2>
        
        <table border="1">
            <tr>
                <th>Tour name</th>
                <th>Date</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Brisbane - Ghost Tour</td>
                <td>June 15 2025 @ 7pm</td>
                <td>$15.00</td>
                <td><button>Remove</button><button>Edit Item</button></td>
            </tr>
            <tr>
                <td>Brisbane - Parliament Tour</td>
                <td>June 15 2025 @ 2pm</td>
                <td>$10.00</td>
                <td><button>Remove</button><button>Edit Item</button></td>
            </tr>
            <tr>
                <td>Mt Coot-tha Botanical Gardens Guided Tour</td>
                <td>June 16 2025 @ 11am</td>
                <td>$10.00</td>
                <td><button>Remove</button><button>Edit Item</button></td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td></td>
                <td><b>$35.00</b></td>
                <td></td>
            </tr>
        </table>

        <div style="padding:5px; margin:5px;">
        <button>Back</button>  <a href="checkout.html"><button>Checkout</button></a>
        </div>

    </main>

</body>
</html>
